@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

body{
    width: 100%;
    height: auto;
    overflow-x: hidden;
}

header{
    z-index: 889;
    position: fixed;
    background-color: rgba(255,255,255,0.1);
    top: 0;
    left: 0;
    width: 100%;
    padding: 15px 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.2s ease;
}

header.sticky{
    background-color: #3a6cf4;
    padding: 10px 200px;
}

header .brand{
    color: white;
    font-size: 1.8em;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
}

header .navigation{
    position: relative;
}

header .navigation a{
    color: white;
    font-size: 1em;
    text-decoration: none;
    font-weight: 500;
    margin-left: 30px;
}

header .navigation a:hover{
    color: #3a6cf4;
}

header .sticky .navigation a:hover{
    color: black;
}

.sticky>div a:hover{
    color: black;
}

section{
    padding: 100px 200px;
}

.main{
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    background-image: url(Image/banniere.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.main .content{
    max-width: 800px;
}

.main .content h2{
    color: white;
    font-size: 2em;
    font-weight: 500;
}

.main .content h2 span{
    font-size: 2.8rem;
    font-weight: 600;
}

.animated-text{
    position: relative;
    height: 70px;
    overflow: hidden;
}

.animated-text h3{
    color: #4e9eff;
    font-size: 3em;
    font-weight: 700;
    line-height: 70px;
    letter-spacing: 1px;
}

.animated-text h3:nth-child(1){
    animation: text-move 6s infinite ease-out;
}

@keyframes text-move {
    0%,15%{
        margin-top: 0px;
    }
    
    25%,40%{
        margin-top: -70px;
    }
    
    50%,65%{
        margin-top: -140px;
    }
    
    75%,90%{
        margin-top: -70px;
    }
    
    100%{
        margin-top: 0px;
    }
}

.btn{
    color: white;
    background-color: #3a6cf4;
    font-size: 1em;
    font-weight: 600;
    display: inline-block;
    padding: 10px 20px;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 1px;
    border-radius: 2px;
    margin-top: 30px;
    transition: 0.5s ease;
}

.btn:hover{
    background-color: #235bf6;
}

.media-icons{
    margin-top: 50px;
}

.media-icons a{
    color: white;
    font-size: 25px;
    margin-right: 30px;
}


/* About */

.title{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.section-title{
    position: relative;
    color: #3a6cf4;
    font-size: 2.2em;
    font-weight: 800;
    margin-bottom: 60px;
}

.section-title::before{
    content: "";
    position: absolute;
    top: 56px;
    left: 50%;
    width: 140px;
    height: 4px;
    background-color: #3a6cf4;
    transform: translateX(-50%);
}

.section-title::after{
    content: "";
    position: absolute;
    top: 50px;
    left: 50%;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #3a6cf4;
    transform: translateX(-50%);
}

.about .content{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

.about .content .col-left{
    position: relative;
    width: 45%;
}

.about .content .col-right{
    position: relative;
    width: 50%;
}

.about .content .col-left .img-card{
    position: relative;
    width: 100%;
    min-height: 450px;
}

.about .content .col-left .img-card img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.about .content .col-right .content-title{
    font-size: 2em;
    font-weight: 800;
    margin-bottom: 20px;
}

.about .content .col-right .paragraph-text{
    font-size: 1em;
}

/* Skills Section */

.skills{
    background-color: black;
}

.skills .content{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    margin-top: 20px;
}

.skills .content .col-left{
    position: relative;
    width: 46%;
}

.skills .content .col-left .content-title{
    margin-bottom: 20px;
}

.skills .content .col-right{
    position: relative;
    width: 46%;
}

.skills .content .col-right .bar{
    margin-bottom: 15px;
    padding: 10px;
}

.skills .content .col-right .bar .info{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 5px;
}

.skills .content .col-right .br .info span{
    font-size: 18px;
    font-weight: 500;
}

.skills .content .col-right .bar .line{
    position: relative;
    width: 100%;
    height: 15px;
    background-color: #ccc;
    border-radius: 2px;
}

.skills .content .col-right .bar .line::before{
    content: "";
    position: absolute;
    height: 100%;
    top: 0;
    left: 0;
    border-radius: 3px;
}


/* DESIGN */
.skills .content .col-right .bar .figma::before{
    width: 75%;
    background-color: #a259ff;
}
.skills .content .col-right .bar .canva::before{
    width: 85%;
    background-color: #00c4cc;
}

.skills .content .col-right .bar .tailwind::before{
    width: 85%;
    background-color: #00c4cc;
}



/* FRONTEND */
.skills .content .col-right .bar .react::before{
    width: 45%;
    background-color: #61dafb;
}
.skills .content .col-right .bar .vue::before{
    width: 70%;
    background-color: #048104;
}

.skills .content .col-right .bar .html::before{
    width: 90%;
    background-color: #e45126;
}

.skills .content .col-right .bar .css::before{
    width: 90%;
    background-color: #0c73b8;
}

.skills .content .col-right .bar .javascript::before{
    width: 80%;
    background-color: #e3a324;
}
/* BACKEND */
.skills .content .col-right .bar .laravel::before{
    width: 60%;
    background-color: #ff2d20;
}
.skills .content .col-right .bar .node::before{
    width: 55%;
    background-color: #3c873a;
}

.skills .content .col-right .bar .php::before{
    width: 65%;
    background-color: #6d7eb8;
}

.skills .content .col-right .bar .golang::before{
    width: 50%;
    background-color: #00c4cc;
}

/* DATABASE */
.skills .content .col-right .bar .mysql::before{
    width: 80%;
    background-color: #00758f;
}
.skills .content .col-right .bar .mongodb::before{
    width: 70%;
    background-color: #4db33d;
}

.skills .content .col-right .bar .sqlite::before{
    width: 75%;
    background-color: #666666;
}
/* MOBILE */
.skills .content .col-right .bar .flutter::before{
    width: 50%;
    background-color: #02569b;
}
.skills .content .col-right .bar .dart::before{
    width: 40%;
    background-color: #0175c2;
}

/* Services */

.services .content{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
    margin-top: 20px;
}

.title p{
    font-size: 1em;
    width: 80%;
    text-align: center;
}

/* Work */
/* ----- WORK SECTION HOVER EFFECT ----- */

.work .card {
    position: relative;
    overflow: hidden;
    border-radius: 10px;
}

.work .card-img img {
    width: 100%;
    height: 100%;
    transition: transform .4s ease;
}

.work .card:hover .card-img img {
    transform: scale(1.1);
}

/* --- Overlay --- */
.work .card::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.6);
    opacity: 0;
    transition: opacity .4s ease;
}

.work .card:hover::before {
    opacity: 1;
}

/* --- Button --- */
.work .card .view-btn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px 20px;
    background: #3a6cf4;
    color: white;
    font-weight: bold;
    border-radius: 5px;
    text-decoration: none;
    opacity: 0;
    transition: opacity .4s ease, transform .3s ease;
}

.work .card:hover .view-btn {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1.1);
}

.work{
    background-color: #ffffff;
}

.work .content{
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 20px;
}

.work .content .card{
    width: 340px;
    margin: 15px;
}

.work .content .card .card-img{
    position: relative;
    width: 100%;
    height: 260px;
    overflow: hidden;
    border-radius: 10px;
}

.work .content .card .card-img img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
    transition: 0.3s linear;
}

.work .content .card .card-img img:hover{
    transform: scale(1.2);
}


/* Contact */
.contact {
    background: #000016;
}
.contact .content{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    margin-top: 20px;
  }
  
  .contact .content .row{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
  }
  
  .contact .content .row .card{
    background: #fff;
    width: 240px;
    margin: 20px;
    padding: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 0 5px 25px rgba(1 1 1 / 15%);
    border-radius: 10px;
  }
  
  .contact .content .row .card .contact-icon{
    color: #3a6cf4;
    font-size: 4em;
    text-align: center;
    transition: transform 0.5s ease;
  }
  
  .contact .content .row .card:hover .contact-icon{
    transform: translateY(-10px);
  }
  
  .contact .content .row .card .info{
    text-align: center;
  }
  
  .contact .content .row .card .info h3{
    color: #111;
    font-size: 1.2em;
    font-weight: 700;
    margin: 10px;
  }
  
  .contact .content .row .card .info span{
    color: #666;
    font-weight: 500;
  }
  
  .contact-form{
    background: #fff;
    max-width: 600px;
    margin-top: 50px;
    padding: 50px;
    border-radius: 10px;
    box-shadow: 0 5px 25px rgba(1 1 1 / 15%);
  }
  
  .contact-form h3{
    color: #111;
    font-size: 1.6em;
    font-weight: 600;
    text-align: center;
    margin-bottom: 40px;
  }
  
  .contact-form .input-box{
    position: relative;
    width: 100%;
    margin-bottom: 20px;
  }
  
  .contact-form .input-box input,
  .contact-form .input-box textarea{
    color: #111;
    width: 100%;
    padding: 10px;
    font-size: 1em;
    font-weight: 400;
    outline: none;
    border: 1px solid #111;
    border-radius: 5px;
    resize: none;
  }
  
  .contact-form .input-box .send-btn{
    color: #fff;
    background: #3a6cf4;
    display: inline-block;
    font-size: 1.1em;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 2px;
    width: 100%;
    border: none;
    cursor: pointer;
    transition: 0.5s ease;
  }
  
  .contact-form .input-box .send-btn:hover{
    background: #235bf6;
  }

  /* Footer */
  
  .footer{
    background: #000016;
    color: #fff;
    text-align: center;
    padding: 2em;
  }
  
  .footer .footer-title{
    font-size: 20px;
    font-weight: 600;
  }
  
  .footer p{
    font-size: 16px;
    margin-top: 10px;
  }
  
  .footer p a{
    color: #3a6cf4;
    font-weight: 600;
    text-decoration: none;
  }
  


@media (max-width:1040px) {
    
    header{
        padding: 12px 20px;
    }

    header.sticky{
        padding: 10px 20px;
    }

    header .navigation{
        display: none;
    }

    .navigation.active{
        z-index: 889;
        position: fixed;
        background-color: white;
        top: 0;
        right: 0;
        width: 380px;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        box-shadow: 0 5px 25px rgba(1 1 1/ 15%);
        transition: 0.3s ease;
    }

    header .navigation a{
        color: black;
        font-size: 1.2em;
        margin: 10px;
        padding: 10px 40px;
        border-radius: 5px;
    }

    header .navigation a:hover{
        background-color: #3a6cf4;
        color: white;
        transition: 0.3s ease;
    }

    .menu-btn{
        position: absolute;
        background-image: url(Image/menu.png);
        background-position: center;
        background-size: 30px;
        background-repeat: no-repeat;
        width: 40px;
        height: 40px;
        right: 0;
        margin: 0 20px;
        cursor: pointer;
        transition: 0.3s ease;
    }

    .menu-btn.active{
        z-index: 999;
        background-image: url(Image/close.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: 25px;
        transition: 0.3s ease;
        filter: invert(1);
    }

    section{
        padding: 80px 20px;
    }

    .main .content h2{
        font-size: 1em;
    }

    .animated-text h3{
        font-size: 2.2em;
    }

    .section-title{
        font-size: 1.8em;
    }

    .about .content{
        flex-direction: column;
    }

    .about .content .column{
        width: 100%;
        position: relative;
    }

    .about .content .col-right{
        margin-top: 40px;
    }

    /* Skills */

    .skills .content{
        flex-direction: column;
    }

    .skills .content .column{
        position: relative;
        width: 100%;
    }

    .skills .content .col-right{
        margin-top: 40px;
    }
 
    .contact-form{
        padding: 35px 40px;
      }
}


.scrollToTop-btn{
    z-index: 999;
    position: fixed;
    background: #3a6cf4;
    color: #fff;
    width: 45px;
    height: 45px;
    right: 0;
    bottom: 10px;
    font-size: 22px;
    text-align: center;
    line-height: 45px;
    border-radius: 3px;
    cursor: pointer;
    pointer-events: none;
    opacity: 0;
    transition: all 0.3s ease;
  }





